.welcome-popup {
	position: fixed;
	border: 3px solid #78B2A8;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 250px;
	background: rgba(217, 217, 217, 0.5);
	margin-top: -125px;
	margin-left: -250px;
	}

.welcome-popup .close-welcome {
	background-color: #78B2A8;
	color: black;
	cursor: pointer;
	width: 100%;
	margin-bottom: 15px;
	padding: 16px 20px
	}

.popupitems {
	text-align: center;
	}
